.wraper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.button3{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}

.button3 button {
    margin: 20px 20px 0 20px;
    background-color: #A9A725; 
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: #282C0B;
    border: none;   
    padding: 10px 20px;
}

.button3 select {
    margin: 20px 20px 0 20px;
    background-color: #A9A725; 
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: #282C0B;
    border: none;   
    padding: 10px 20px;
}

.left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    margin-left: 70px;
}

.left-part .map-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

.left-part .map-container img {
    display: block;
    height: auto;
}

.left-part .region-info h2 {
    font-size: 1.5em;
    color: #3d5a64;
    margin-bottom: 10px;
}

.left-part .region-info p {
    color: #555;
    margin-bottom: 15px;
}

.left-part h3 {
    background-color: #9B9C07; /* Approximate button color */
    color: #282C0B;
    border: none;
    padding: 10px 20px;
    border-radius: 8px; 
    font-size: 40px;
}

.horizontal-slider-section {
    display: flex;
    width: 700px;
    height: 775px;
    padding: 20px 20px;
    background-color: rgba(157, 158, 5, 0.24) ;
    border-radius: 20px;

}

.horizontal-slider-section h2 {
    font-size: 2em;
    color: #3d5a64;
    text-align: center;
    margin-bottom: 30px;
}

.horizontal-slider {
    display: inline-block;
    overflow-x: auto; 
    gap: 20px;
    padding-bottom: 20px; 
    width: 100%; 
    scrollbar-width: thin; 
    scrollbar-color: #3d5a64 transparent; 
    -ms-overflow-style: none; 
    -webkit-overflow-scrolling: touch; 
    scroll-snap-type: x mandatory; 
    height: 100%;
}

.slider-item {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
    background-color: #D4BC22   ; 
    border-radius: 15px;
    flex: 0 0 auto; 
    text-align: left;
    margin-top: 25px;
}

.slider-item div h3 {
    font-size: 1.3em;
    color: #3d5a64;
    margin-bottom: 5px;
}

.slider-item div p {
    color: #555;
    margin-bottom: 8px;
    font-size: 0.95em;
}

.slider-item .item-image {
    margin:15px 0;
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.slider-item .item-image img {
    display: block;
    width: 170px;
    height: 170px;
    height: auto;
    object-fit: cover;
}

.slider-item p {
    max-width: 445px;
}

.slider-info {
    margin-top: 20px;
}

.region_chelik{
   position: fixed ; 
   bottom: -1% ;
   left: 2%;
}