{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'mainapp/css/business_profill.css' %}">
{% endblock %}

{% block content %}
<main>
    <a href="javascript:history.back()" style="position: absolute; top: 15%; left: 2%; z-index: 2;">
        <img src="{% static 'mainapp/img/home/strilka.png' %}">
    </a>

    <div class="business-profile-page">
    <main class="profile-main">
        <section class="profile-info">
            <h1>{{ busines.name }}</h1>{% if busines.insta %}
            <a href="{{ busines.insta }}">
            <div class="social-icon" style="margin-top: 40px; margin-left: 5%;">
                <img src="{% static 'mainapp/img/home/instagram.png' %}" alt="">
            </div>
            </a>
            {% endif %}
        </section>

        <section class="gallery">
            {% with photos=busines.buisnessephoto_set.all %}
                {% if photos %}
                    {% for photo in photos %}
                        {% if photo.img %}
                        <div class="gallery-item">
                            <img src="{{ photo.get_img_url }}" alt="Photo of {{ busines.name }}">
                        </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Фотографії відсутні</p>
                {% endif %}
            {% endwith %}
        </section>

        <section class="contact-details">
            <div class="detail-item">
                <div class="icon location"><img src="{% static 'mainapp/img/home/pin.png' %}"></img></div>
                <p>{{ busines.region }} {{ busines.city }}</p>
            </div>
            <div class="detail-item">
                <div class="icon email"><img src="{% static 'mainapp/img/home/email.png' %}"></img></div>
                <p>{{ busines.email }}</p>
            </div>
            <div class="detail-item">
                <div class="icon phone"><img src="{% static 'mainapp/img/home/phone.png' %}"></img></div>
                <p>{{ busines.phone }}</p>
            </div>
        </section>

        <section class="description-category">
            <div class="description">
                <h2>Опис</h2>
                <p>{{ busines.description }}</p>
            </div>
            <div class="category">
                <h2>Категорія</h2>
                <p>{{ busines.category }}</p>
            </div>
        </section>
    </main>
{% endblock %}