{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <style>
    #map { width: 850px; height: 600px; border: 1px solid #ccc; }
  </style>
{% endblock %}

{% block content %}
  <a href="{% url 'home' %}" style="position: absolute; top: 15%; left: 2%;">
    <img src="{% static 'mainapp/img/home/strilka.png' %}">
  </a>

  <div class="container">
    <div class="content">
      <div id="map"></div>
    </div>
  </div>

  <img src="{% static 'mainapp/img/home/map_chel.png' %}" 
  style="position: fixed; right: 1%; bottom: 0%;">
  <script src="{% static 'mainapp/js/map.js' %}"></script>
{% endblock %}