{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}

{% block content %}
<p>{{ region.name }}</p>
<p>{{ region.value }}</p>
<img src="{{ region.get_img_url }}" alt="">

<p>Кількість бізнесів: {{ count }}</p>

{% for business in businesses %}
    <p>{{ business.name }}</p>
    <p>{{ business.description }}</p>
    <div class="rating" data-rating="{{ business.average_rating|floatformat:1 }}" data-business-id="{{ business.id }}"></div>
{% endfor %}

<script>
$(function () {
    $('.rating').each(function () {
        const $this = $(this);
        const rating = $this.data('rating');
        const businessId = $this.data('business-id');
        let a = 0

        $this.rateYo({
            rating: rating,
            starWidth: "24px",
            readOnly: false
        }).on("rateyo.set", function (e, data) {
            const newRating = data.rating;
            $.ajax({
                url: '/api/rate-business/',
                method: 'POST',
                data: {
                    business_id: businessId,
                    rating: newRating,
                    csrfmiddlewaretoken: '{{ csrf_token }}' 
                },
                success: function (response) {
                    if (a == 0) {
                        if (response.success) {
                            alert('Оцінка успішно збережена!');
                            $this.rateYo('rating', response.new_average_rating);
                            
                        } else {
                            alert('Помилка: ' + response.error);
                        }
                        a += 1;
                    }
                },
                error: function () {
                    alert('Помилка при відправці оцінки.');
                }
            });
        });
    });
});
</script>
{% endblock %}