.business-profile-page {
    background-color: #E2D9A5; 
    display: flex;
    flex-direction: column;
}

.profile-main {
    padding: 20px;
    margin: 0 auto;
}

.profile-info {
    color: #2D411C;
    display: inline-flex;
}
.profile-info h1 {
    font-size: 96px;
    font-family: 'Belleza'; 
    color: #2D411C;
}


 .social-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: -40px 0 80px 0;
}

.gallery {
    display: flex;
    gap: 70px;
    margin-bottom: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    justify-content: center;
}

.gallery-item {
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.gallery-item img {
    display: block;
    max-width: 450px;
    max-height: 450px;
    object-fit: cover;
}

.contact-details {
    margin-bottom: 30px;
}

.contact-details .detail-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.detail-item p {
    color: #282C0B;
    font-size: 32px;
    font-family: 'Belleza';
}
.description-category {
    display: flex;
    gap: 30px;
}

.description {
    flex: 1;
}

.category {
    flex: 0 0 150px; 
    margin: 0 50px 0 0;
}

.description h2,
.category h2 {
    font-size: 52px;
    color: #282C0B;
    margin-bottom: 10px;
    font-family: 'Belleza';
}

.description p,
.category p {
    color: #282C0B;
    line-height: 1.6;
    font-family: 'Belleza';
    font-size: 40px;
    width: 60%;
}

.profile-footer {
    padding: 20px;
    text-align: center;
    color: #777;
}

/* Responsive layout */
@media (max-width: 600px) {
    .gallery {
        width: 100%;
    }

    .description-category {
        flex-direction: column;
        gap: 20px;
    }

    .category {
        flex-basis: auto;
        width: 100%;
    }
}