body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2D9A5; 
    color: #333;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F0E6DA;
    box-shadow: 0px 4px 4px 0px #F0E6DA;
}
.icons {
  position: relative;
  width: 69px;
  height: 91px;
}

.icons svg {
  position: absolute;
  top: 0;
  left: 0;
}

.icons .overlay {
  top: 20px; 
  left: 10px; 
}



.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #282C0B; 
    font-family: 'Belleza';
}
.fonts {
    color: #2D2D2D; 
    font-family: 'Belleza';
}

main {
    padding: 40px 0px 40px 20px;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin-bottom: 30px;
}

.hero h1 {
    text-align: start;
    color: #2D2D2D;
    font-size: 69px;
    margin-bottom: 40px; 
    padding: 0 20px; 
}

.hero p {
    text-align: start;
    font-size: 32px;
    margin-bottom: 12px;
    color: #2D2D2D ;
    max-width: 70%;
}

.register-button {
    background-color: #D4BC22; 
    color: #282C0B;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
    margin: 50px 0 0 40px;
    
}

.visuals {
    display: flex;
    gap: 40px; 
    margin-bottom: 50px; 

    width: 100%;
    justify-content: center; 
    align-items: flex-end;
}

.character {
    flex: 1; 
    min-width: 300px; 
}

.map {
    min-width: 300px; 
    margin-top: -580px; 
    margin-right: 0;
    cursor: pointer;
}
.map svg{
    position: absolute;
    top: 115%;
    left: 65%;
    transform: translate(-30%, -60%);
    height: auto;
    z-index: 10; 
    cursor: pointer;
}
.character img, .map img {
    display: block; 
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

/* ------------------------------------------------  */


.how-it-works {
    text-align: center;

    margin: 40px auto;
    padding: 0 20px;
}

.how-it-works-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.how-it-works h2 {
    font-size: 40px;
    color: #282C0B ;
    margin: 0 10px; 
}

.how-it-works-header img.star {
    width: auto;
    height: 170px;
}

.how-it-works ol {
    list-style-type: decimal;
    padding-left: 70px;
    text-align: left;
}

.how-it-works li {
    font-size: 40px;
    color: #282C0B;
    margin-bottom: 10px;
}

.for-whom {
    text-align: center;
    padding: 40px 20px;
}

.for-whom h2 {
    font-size: 2em;
    color: #282C0B;
    margin-bottom: 30px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
}

.category {
    flex: 1 0 200px; 
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 20%;
}

.category img {
    height: auto;
    margin-bottom: 15px;
}

.category h3 {
    font-size: 32px;
    color: #000;
    margin-bottom: 10px;
}

.category p {
    font-size: 24px;
    color: #000;
}

@media (max-width: 768px) {
    .categories {
        flex-direction: column;
        align-items: center;
    }

    .category {
        width: 80%;
        margin-bottom: 20px;
    }
}

/* ------------------------------------------------------------------ */

/* --- Popular on Map Section --- */
.popular-on-map {
    padding: 40px 20px;
    text-align: center;
    display: flex;
}

.popular-on-map h2 {
    font-size: 2em;
    color: #282C0B;
    margin-bottom: 30px;
}

.popular-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto 30px;
}

.popular-item {
    background-color: #C4BE26;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 50px;
}


.popular-item .text-content {
    flex-grow: 1;
    text-align: left;
}

.popular-item .text-content h3 {
    color: #282C0B ;
    font-size: 36px;
    margin: 0 0 10px 30px;
}
.popular-item .text-content p {
    color: #282C0B;
    font-size: 24px;
    margin: 0 0 10px 30px;
}

.popular-item:nth-child(even) .text-content {
    text-align: left;
}

.popular-item .image-container {
    border-radius: 12px;
    overflow: hidden;
    flex-shrink: 0; 
}


.popular-item .image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benefits {
    text-align: left;
    max-width: 800px;
    margin: 0 auto 30px;
    font-size: 36px;
    color: #282C0B;
}

.benefits p {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
    color: #333;
}

.benefits img {
    width: 60px; 
    height: auto;
}

/* --- FAQ Section --- */
.faq {
    padding: 40px 20px;
    text-align: left; /* Align text to the left */
    margin: 0 auto;
}

.faq h2 {
    font-size: 40px;
    color: #282C0B;
    margin-bottom: 30px;
    text-align: center; /* Center the FAQ heading */
}

.faq ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.faq li {
    font-size: 40px;
    margin-bottom: 10px;
    color: #282C0B;
    position: relative;
    cursor: help; /* Indicate that there's more info on hover */
}

.tooltip-text {
    visibility: hidden;
    width: 500px;
    background-color: #D2CB7F;
    color: #282C0B;
    text-align: center;
    padding: 10px;
    border-radius: 6px;


    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.faq li:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}